mkdocs
mkdocs-material
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-roamlinks-plugin
mkdocs-glightbox
mkdocs-htmlproofer-plugin
mkdocs-redirects
pillow
cairosvg