mkdocs>=1.6.0
mkdocs-material>=9.5.31
mkdocs-minify-plugin>=0.8.0
mkdocs-roamlinks-plugin>=0.3.2
mkdocs-glightbox>=0.4.0
mkdocs-htmlproofer-plugin>=1.2.1
mkdocs-redirects>=1.2.1
Pillow>=10.1.0
CairoSVG>=2.7.1
